#banner-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex: none;
}

#background-container {
	align-content: center;
	position: absolute;
    z-index: -5;
}

.smoke-svg {
	position: absolute;
	right: 0;
    bottom: 0;
    width: auto;
    transition-duration: 0.5s;
    z-index: -3;
}

#smoke-svg-1 {
    z-index: -1;
}

#genius-svg {
	margin: auto;
	animation: floating-anim 5s infinite alternate;
	width: auto;
    height: 90%;
}

#banner-text {
	margin: auto auto auto 35px;
	font-family: big-john, calibri, ubuntu;
    position: absolute;
    width: 30%;
    height: 183px;
    font-size: 50px;
    z-index: -2;
    color: var(--font-dark-main-color);
}

#banner-text span{
	color: #34a9c8ff;
	font-size: 60px;
}