:root {
	--font-dark-main-color: #3a3a3a;
}

@font-face {
	font-family: BebasNeue-Regular;
	src: url('../fonts/BebasNeue-Regular.otf')format('opentype');
}

@font-face {
	font-family: big-john;
	src: url('../fonts/BIG_JOHN.otf')format('opentype');
}


@media only screen and (max-width: 350px) {
	#cards-container {
		display: none;
	}

	#smoke-svg-2  {
		display: none;
	}

	#smoke-svg-1  {
		display: none;
	}

	#smoke-svg-2-smartphone {
		display: block;
	}

	#smoke-svg-1-smartphone {
		display: block;
	}

	#name-text {
		margin: auto;
	}

	#banner-text {
		display: none;
	}
}

@media only screen and (min-width: 350px) {
	#cards-container {
		display: none;
	}

	#smoke-svg-2  {
		display: none;
	}

	#smoke-svg-1  {
		display: none;
	}

	#smoke-svg-2-smartphone {
		display: block;
	}

	#smoke-svg-1-smartphone {
		display: block;
	}

	#name-text {
		margin: auto;
	}

	#banner-text {
		display: block;
		bottom: 80px;
	}
}

@media only screen and (min-width: 500px) {
    #cards-container {
		display: flex;
	}

	#smoke-svg-2  {
		display: block;
	}

	#smoke-svg-1  {
		display: block;
	}

	#smoke-svg-2-smartphone {
		display: none;
	}

	#smoke-svg-1-smartphone {
		display: none;
	}

	#name-text {
	    margin: auto auto auto 40px;
	}

	#banner-text {
		display: block;
		bottom: unset;
	}
}

@media only screen and (min-width: 800px) {
    #cards-container {
		display: flex;
	}

	#smoke-svg-2  {
		display: block;
	}

	#smoke-svg-1  {
		display: block;
	}

	#smoke-svg-2-smartphone {
		display: none;
	}

	#smoke-svg-1-smartphone {
		display: none;
	}

	#name-text {
	    margin: auto auto auto 40px;
	}

	#banner-text {
		display: block;
	}
}


#banner-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex: none;
}

#background-container {
	align-content: center;
	position: absolute;
    z-index: -5;
}

#banner-background {
	
}

#smoke-svg-1 {
	position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: auto;
    transition-duration: 0.5s;
}

#smoke-svg-2 {
	position: absolute;
    z-index: -3;
    right: 0;
    bottom: 0;
    width: auto;
    transition-duration: 0.5s;
}

#smoke-svg-2-smartphone {
	position: absolute;
    z-index: -3;
    right: 0;
    bottom: 0;
    width: auto;
    transition-duration: 0.5s;
}

#smoke-svg-1-smartphone {
	position: absolute;
    z-index: -3;
    right: 0;
    bottom: 0;
    width: auto;
    transition-duration: 0.5s;
}

#genius-svg {
	margin: auto;
	animation: floating-anim 5s infinite alternate;
	width: auto;
    height: 90%;
}

#banner-text {
	margin: auto auto auto 35px;
	font-family: big-john, calibri, ubuntu;
    position: absolute;
    width: 30%;
    height: 183px;
    font-size: 50px;
    z-index: -2;
    color: var(--font-dark-main-color);

}

#banner-text span{
	color: #34a9c8ff;
	font-size: 60px;
}

#presentation-section {
	height: 500px;
	display: flex;
	flex: none;
}

#navbar {
	position: fixed;
	display: flex;
	height: 50px;
	width: 100%;
    transition-duration: 1s;
}

#navbar-background {
	height: 100%;
	width: 100%;
	position: absolute;
	backdrop-filter: blur(50px) saturate(50) grayscale(0.6);
    background-color: #ffffff9e;
    opacity: 0;
}

.navbar-card {
	transition-duration: 1s;
	background-color: transparent;
	padding: 6px 15px;
	margin: 0 10px;
    border-radius: 50px;
    font-family: calibri ,ubuntu;
    z-index: 1;
    color: white;
    font-size: 20px;
}

.navbar-card:hover {
	background-color: white;
	color: var(--font-dark-main-color);

}

#name-text {
	font-family: calibri, ubuntu;
	font-size: 30px;
	color: var(--font-dark-main-color);
	z-index: 1;
}

#cards-container {
	margin: auto 25px auto auto;
}