@font-face {
	font-family: BebasNeue-Regular;
	src: url('../fonts/BebasNeue-Regular.otf')format('opentype');
}

@font-face {
	font-family: big-john;
	src: url('../fonts/BIG_JOHN.otf')format('opentype');
}


#navbar {
	position: fixed;
	display: flex;
	height: 50px;
	width: 100%;
    transition-duration: 1s;
    z-index: 2;
}

#navbar-background {
	height: 100%;
	width: 100%;
	position: absolute;
	backdrop-filter: var(--blur-fx);
    background-color: #ffffff9e;
    opacity: 0;
}

.navbar-card {
	transition-duration: 1s;
	background-color: transparent;
	padding: 6px 15px;
	margin: 0 10px;
    border-radius: 50px;
    font-family: calibri ,ubuntu;
    z-index: 1;
    color: white;
    font-size: 20px;
}

.navbar-card:hover {
	background-color: white;
	color: var(--font-dark-main-color);
}

#name-text {
	font-family: calibri, ubuntu;
	font-size: 30px;
	color: var(--font-dark-main-color);
	z-index: 1;
}

#cards-container {
	margin: auto 25px auto auto;
}

#menu-content {
	display: flex;
	margin: auto;
	flex-direction: column;
}

#menu-moviles {
	width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: var(--blur-fx);
    transition-duration: 1s;
    z-index: 1;
}

#menu-moviles card-text {
	margin: 1em auto;
    font-family: calibri, sans-serif;
    font-size: 2em;
    color: var(--font-dark-main-color);
    transition-duration: 1s;
}

#menu-moviles card-text:hover {
    font-size: 2.5em;
}

#menu-button {
	position: absolute;
	height: 50px;
	width: 50px;
	z-index: 2;
	transition-duration: 1s;
}