<!DOCTYPE html5>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Zancu | Inicio</title>
	<link id="main-style" rel="stylesheet" type="text/css" href="static/css/main.css">
	<link id="loading-page-style" rel="stylesheet" type="text/css" href="static/css/loader.css">
</head>
<body>
<!-- loader section, this will be deleted -->
	<loading-page id='loading-page'>
	</loading-page>
<!-- main section -->
	<main id='root'>
	</main>

	<script id="syringe-script" type="text/javascript" src="static/js/loaderbar.js"></script>
	<script type="text/javascript" src="static/js/loader.js"></script>

	<script class="landingpage-node librery" onload="toFall(event, syringeMovil)" type="text/javascript" async="async" src="static/js/jquery-3.6.0.js"></script>
	<link class="landingpage-node" onload="toFall(event, syringeMovil)" rel="stylesheet" type="text/css" async="async" href="src/landingpage/css/landingpage.css">
	<script class="landingpage-node" onload="toFall(event, syringeMovil)" type="text/javascript" async="async" src="src/landingpage/js/main.js"></script>
	<script class="landingpage-node" onload="toFall(event, syringeMovil)" type="text/javascript" async="async" src="src/landingpage/js/landingpage.js"></script>
	<link class="landingpage-node" onload="toFall(event, syringeMovil)" rel="stylesheet" type="text/css" async="async" href="src/landingpage/css/animations.css">

</body>
</html>